node_modules/
**/node_modules/

/dist
dist/

/build
build/

/tmp
.temp
.tmp

coverage/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example
.env.development
.env.test
.env.production

# Python
__pycache__/
.ipynb_checkpoints/
